<html th:lang="#{principal.lang}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="utf-8"/>
    <title th:text="#{app.login.titulo}"></title>
</head>
<body>
<div layout:fragment="cabecera">
    <div class="text-center-container">
        <h1 th:text="#{cambio.password.title}"></h1>
    </div>
    <br>
</div>
<div layout:fragment="contenido">
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div th:if="${success}" class="alert alert-success" role="alert">
                        <p th:text="#{cambio.password.success}"></p>
                    </div>
                    <div class="card shadow-lg" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="my-5">
                                <!-- Formulario de reseteo de contraseña -->
                                <form id="resetPasswordForm" th:action="@{/users/resetpass}" role="form" method="post" th:object="${datos}">
                                    <input th:type="hidden" th:field="${datos.id}">
                                    <div class="form-floating mb-4">
                                        <input class="form-control" id="username" name="username" type="text" placeholder="Introduce tu nombre de usuario..." data-sb-validations="required" th:field="*{nombreUsuario}"/>
                                        <label for="username" th:text="#{cambio.password.email}"></label>
                                        <div class="invalid-feedback" data-sb-feedback="username:required" th:text="#{home.login.login4}"></div>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input class="form-control" id="password" name="password" type="password" placeholder="Introduce tu contraseña..." data-sb-validations="required" th:field="*{password}"/>
                                        <label for="password" th:text="#{cambio.password.password}"></label>
                                        <div class="invalid-feedback" data-sb-feedback="password:required" th:text="#{home.login.login6}"></div>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input class="form-control" id="npass" name="newpassword" type="password" placeholder="Repite tu contraseña..." data-sb-validations="required" th:field="*{newpassword}"/>
                                        <label for="npass" th:text="#{cambio.password.repetirPassword}"></label>
                                        <div class="invalid-feedback" data-sb-feedback="newpassword:required" th:text="#{home.login.login6}"></div>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary text-uppercase btn-rounded" th:text="#{cambio.password.modificarPassword}"></button>
                                    </div>
                                    <!--/*@thymesVar id="errorMessage" type=""*/-->
                                    <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
